@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Status : @ViewData["Message"]</p>
</div>
<a href="Order">View Orders</a><br />
<a href="Payment">View Payments</a>
