@page
@model Prototype.Pages.PaymentModel
<h1>Donation Payment</h1>
<form method="post">
    <input type="hidden" name="action" value="SALE" />
    <table>
        <tr>
            <td>Currency : </td>
            <td><input type="text" id="txtCurrency" name="currencyCode" value="GNF"/></td>
        </tr>
        <tr>
            <td>Amount : </td>
            <td><input type="number" id="txtAmount" name="amount" /></td>
        </tr>
        <tr>
            <td>Card Number :</td>
            <td>
                <input type="text" id="txtCardNumber" name="pan" />
            </td>
        </tr>
        <tr>
            <td>Expiry :</td>
            <td>
                <input type="text" id="txtExpiry" name="expiry" />
            </td>
        </tr>
        <tr>
            <td>CVV :</td>
            <td><input type="password" id="txtCVV" name="cvv" /></td>
        </tr>
        <tr>
            <td>Card Holder Name :</td>
            <td><input type="text" id="txtCardholder" name="cardholderName" /></td>
        </tr>
    </table>
    <input type="submit" asp-page-handler="Submit" value="Submit" />
</form>
<b>@Html.Raw(ViewData["Message"])</b>